@import "tailwindcss";
.li-color{
    background: hsl(0, 0%, 20%);
    color: white;
    font-weight: 600;
    transition: background 500ms ease-in-out,color 500ms ease-in-out;
}
.li-color:hover{
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}