@import "tailwindcss";
.mobile-header{
    display: none;
}
.mobile-show{
    display: flex;
    width: 50%;
    background-color: rgb(206, 206, 206);
    height:100vh ;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
}
.mobile-ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: content-box;
    padding: 1rem;
    position: relative;
}
@media screen and (max-width:870px) {
    .mobile-header{
        display: flex;
        gap: 1rem;
        z-index: 10;
    }
}