@import "tailwindcss";
.main{
    width: 100%;
    min-height: 100vh;
    background-color:  hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    background: hsl(0, 0%, 12%);
}
.name{
    font-weight: 700;
    font-weight: 2.3rem;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.1rem;
}