.admin-header{
    position: relative;
}
.admin-header.content{
    position: absolute;
    content: " ";
    top: 0%;
    left: 0%;
    width: 3px;
    opacity: 69%;
    height: 100%;
    background: gray;
}